<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->

<form class="form-horizontal">
    <h4>Switching</h4>
    <div class="control-group">
        <label class="control-label">Pin<br/><span class="help-inline">None to disable</span></label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.psucontrol_raspberrymatic.onCommand">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.psucontrol_raspberrymatic.offCommand">
        </div>
    </div>
    <br />

    <h4>Sensing</h4>
    <div class="control-group">
        <label class="control-label">Pin<br/><span class="help-inline">Zero to disable</span></label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.psucontrol_raspberrymatic.sensingCommand"> <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_raspberrymatic.enableSensing"> Enable
        </div>
    </div>
</form>
